extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1 My question bank
      a.btn.btn-primary(href='/new-question') New question

  .container
    each question, index in questions
      .card.mb-3
        .card-body
          .d-flex
            h5.card-title Question !{index}
            a.ml-auto.btn.btn-primary(href='/quiz/' + quiz._id + '/add-from-bank/' + question._id) Add
          p.card-text= question.stem
          hr
          h5.card-title Key
          p.card-text= question.key
