doctype html
html
  head
    title Online Quiz
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
      a.navbar-brand.nav-link(href='/') Online Quiz
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='#') My question bank
        li.nav-item
          a.nav-link(href='/my-quizzes') My quizzes

      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='#') Hello, !{user}
        li.nav-item
          a.nav-link(href='/logout') Logout

    block content
