extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1 My quizzes
      a.btn.btn-primary(href='/new-quiz') New quiz

  .container
    ul.list-group
      each quiz in quizzes
          a.list-group-item.list-group-item-action(href='/quiz/' + quiz._id) !{quiz.name}
