extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1 My question bank
      a.btn.btn-primary(href='/new-question') New question

  .container
    each question, index in questions
      .card.mb-3
        .card-body
          .d-flex
            h5.card-title Question !{index}
            button.ml-auto.btn.btn-secondary Edit
            button.ml-2.btn.btn-secondary Delete
          p.card-text= question.stem
          hr
          h5.card-title Key
          p.card-text= question.key
