extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1 !{quizName}

  .container
    ul.list-group
      each question in questions
        li.list-group-item !{question.stem}
